$lisnum: 4;

body.trial {
  nav,
  .footer {
    display: none !important;
  }

  span.error {
    padding-left: 0 !important;
  }

  .wrapper {
    padding: 0 !important;
  }

  .start-trial {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 946px;
    justify-content: center;
    align-items: center;

    @media (max-width: 576px) {
      min-height: auto;
    }

    .start-trial-container {
      .progressbar {
        ul {
          max-width: 380px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }

        li {
          width: 100% / $lisnum;
          height: 20px;
          position: relative;

          &.active {
            &:before {
              background: #2f80ed;
            }
          }

          &:before {
            content: "";
            width: 15px;
            height: 15px;
            display: block;
            background: #f2f2f2;
            border-radius: 50%;
            position: relative;
            z-index: 3;
          }

          &:last-of-type {
            width: 15px;

            &:after,
            span {
              display: none;
            }
          }

          &:after {
            content: "";
            width: 100%;
            height: 5px;
            background: #f2f2f2;
            position: absolute;
            display: block;
            z-index: 1;
            top: 5px;
            left: 1px;
          }

          span {
            width: 0;
            height: 5px;
            background: #2f80ed;
            position: absolute;
            display: block;
            z-index: 2;
            top: 5px;
            transition: all 0.2s ease;
            will-change: width;
          }
        }
      }
      .strength {
        height: 0px;
        width: 100%;
        background: #fcfcfc;
        margin-top: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        transition: height 0.3s;
        span {
          width: 0px;
          height: 5px;
          display: block;
          transition: width 0.3s;
        }
      }

      .form {
        position: relative;
      }

      fieldset:not(:first-of-type) {
        display: none;
      }

      fieldset {
        max-width: 460px;
        width: 100%;
        margin: auto;
        background-color: #fff;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
          0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
        padding: 40px;
        position: relative;

        .head-content {
          margin-bottom: 40px;

          h1,
          h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 51px;
            letter-spacing: 0.15px;
            text-align: center;
            text-transform: capitalize;
            width: 100%;
            color: #333;
            margin-top: 30px;

            @media (max-width: 576px) {
              font-size: 30px;
            }
          }

          h2 {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            margin: 25px 0 20px 0;

            @media (max-width: 576px) {
              font-size: 19px;
            }
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #828282;
            text-align: left;
            margin-bottom: 25px;

            @media (max-width: 576px) {
              font-size: 13px;
            }
          }
        }

        .radiobtn {
          margin-bottom: 20px;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 0;
          }

          label {
            display: block;
            position: relative;
            margin-bottom: 0px;
            cursor: pointer;
            font-size: 16px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 20px;

            @media (max-width: 576px) {
              font-size: 15px;
            }

            padding-left: 28px;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #fff;
            border: 2px solid #828282;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after {
              content: "";
              display: none;
              position: absolute;
            }
          }

          label input:checked ~ .checkmark {
            border-color: #2f80ed;
          }

          label input:checked ~ .checkmark:after {
            display: block;
          }

          /* Style the indicator (dot/circle) */
          label .checkmark:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #2f80ed;
          }
        }

        .checkbox {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 0;
          }

          label {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;
            cursor: pointer;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #bdbdbd;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 100%;

            &:hover input ~ .checkmark,
            input:focus ~ .checkmark {
              background: #ccc;
            }

            p {
              display: inline-block;
              margin: 3px 0 0 10px;

              @media (max-width: 576px) {
                font-size: 14px;
              }
            }

            input {
              &:checked {
                & ~ .checkmark:after {
                  display: block;
                }

                & ~ .checkmark {
                  background: #2f80ed;
                  border-color: #2f80ed;
                }
              }
            }
          }

          .checkmark {
            display: inline-block;
            position: relative;
            top: 2px;
            left: 0;
            height: 18px;
            width: 18px;
            border: 2px solid #bdbdbd;
            border-radius: 3px;
            background: transparent;

            &:after {
              content: "";
              display: none;
              position: absolute;
              left: 4px;
              top: 1px;
              width: 5px;
              height: 9px;
              border: solid #fff;
              border-width: 0px 2px 2px 0px;
              transform: rotate(45deg);
            }
          }
        }

        .input-100 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 36px;

          &.input-added {
            margin-top: 0;
            position: relative;

            &:hover {
              .close {
                display: block;
              }
            }

            .close {
              text-align: center;
              display: none;
              position: absolute;
              right: -20px;
              width: 20px;
              font-size: 12px;
              font-weight: 300;
              background: #fd1616;
              height: 20px;
              border-radius: 50%;
              line-height: 20px;
              cursor: pointer;
              color: #fff;
            }

            .input-50 {
              margin-top: 0;

              input {
                border-top: 0 !important;
              }
            }
          }

          &.select {
            flex-direction: column;
          }

          .input-50 {
            max-width: 50%;
            width: 100%;
            flex: 0 0 50%;
            margin-top: 20px;
          }

          & > .selectbox {
            display: flex;
            justify-content: center;
            align-items: center;

            select {
              width: 104px;
              border: none;
              border-bottom: 1px solid #e0e0e0;
              line-height: 24px;
              font-size: 16px;
              height: 55px;
              margin-right: 10px;
            }
          }
        }

        .input {
          width: 100%;

          label {
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            display: flex;
            align-items: center;
            letter-spacing: 0.15px;
            color: #333333;
            text-transform: uppercase;
            margin: 0 0 12px 0;

            @media (max-width: 576px) {
              font-size: 10px;
            }
          }

          input {
            width: 100% !important;
            padding: 12px 0;
            border: 0;
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            font-size: 13px;

            &::placeholder {
              color: #bdbdbd;
              font-size: 12px;

              @media (max-width: 576px) {
                font-size: 9px;
              }
            }
          }
        }

        .input-summary-container {
          span {
            display: block;
            padding: 0px 0 6px 157px;
            color: #333;
            font-style: normal;
            line-height: 16px;
            font-weight: 500;
            font-size: 11px;
          }

          .input-100 {
            margin-top: 0;

            .input-summary {
              display: flex;

              label {
                padding: 12px 14px;
                margin: 0;
                border-top: 1px solid #e0e0e0;
                width: 250px;
                text-align: right;
                color: #333;
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                display: block;
                line-height: 16px;
              }

              input {
                width: auto;
                padding: 12px 0;
              }
            }

            &:not(:last-of-type) {
              .input-summary {
                input {
                  border-bottom: none;
                }
              }
            }

            &:last-of-type {
              .input-summary {
                label {
                  border-bottom: 1px solid #e0e0e0;
                }
              }
            }
          }
        }

        .add-another {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 13px;

          .add {
            color: #2f80ed;
            font-style: normal;
            width: 50%;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;

            @media (max-width: 576px) {
              font-size: 11px;
            }
          }

          p {
            margin: 0;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.15px;
            width: 50%;
            text-align: right;
            color: #bdbdbd;

            @media (max-width: 576px) {
              font-size: 11px;
            }
          }
        }

        .summary {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 20px;

          p {
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.15px;
            color: #333333;

            a {
              color: #2f80ed;
            }
          }
        }

        .btns {
          display: flex;
          justify-self: center;
          align-items: center;
          margin-top: 40px;

          input {
            border-radius: 26px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
          }

          .submit,
          .next {
            margin-left: 8px;
            background: #27ae60;
            color: #fff;
            padding: 15px;
            width: 100%;
            transition: background-color 0.3s ease-in-out;

            @media (max-width: 576px) {
              font-size: 15px;
              padding: 15px 30px;
            }

            &:hover {
              background: #219351 !important;
            }
          }

          .cancel,
          .prev-stage1 {
            margin-right: 8px;
            border: 1px solid #4f4f4f;
            box-sizing: border-box;
            border-radius: 26px;
            color: #4f4f4f;
            transition: background-color 0.3s ease-in-out;
            padding: 15px 45.15px;

            &:hover {
              color: #000;
              border-color: #000;
            }

            @media (max-width: 576px) {
              width: 100%;
              padding: 15px;
              font-size: 15px;
            }
          }
        }
      }

      .first-stage {
        fieldset {
          .head-content {
            h1 {
              margin: 0;
            }

            p {
              text-align: center !important;
              margin-top: 20px;
            }
          }

          .input-100 {
            margin-top: 0px;
          }

          .input {
            input {
              padding: 15px 16px;
              line-height: 24px;
              font-size: 16px;
              border-top: none;
              transition: border-color 0.3s ease-in-out;

              &::placeholder {
                color: #bdbdbd;
              }

              &:focus {
                border-color: #333;
              }
            }
          }

          .quick-access {
            position: relative;
            z-index: 1;
            text-align: center;
            margin: 35px 0;

            span.text-line {
              background: #fff;
              padding: 0 15px;
            }

            &:before {
              border-top: 1px solid #bdbdbd;
              content: "";
              margin: 0 auto;
              /* this centers the line to the full width specified */
              position: absolute;
              /* positioning must be absolute here, and relative positioning must be applied to the parent */
              top: 50%;
              left: 0;
              right: 0;
              bottom: 0;
              width: 95%;
              z-index: -1;
            }
          }
        }

        fieldset:last-of-type {
          .btns {
            margin-bottom: 0 !important;
          }
        }

        fieldset.form {
          max-width: 460px;
          width: 100%;
          margin: auto;
          background-color: #fff;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
          padding: 40px;

          .input-100 {
            margin-bottom: 40px;

            input::placeholder {
              font-size: 16px;

              @media (max-width: 576px) {
                font-size: 14px;
              }
            }
          }

          .chart {
            background: #ffffff;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
              0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
            border-radius: 3px;
            padding: 16px 16px 30px 24px;
            margin-bottom: 40px;

            h2 {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              display: flex;
              align-items: center;
              margin-bottom: 30px;
              color: #424242;
            }
          }

          .btns {
            margin-top: 0;
            margin-bottom: 40px;
            flex-direction: column;

            .cancel {
              width: 100%;
              margin-top: 16px;
              margin-right: 0;
              border: 1px solid #4f4f4f;
              box-sizing: border-box;
              border-radius: 26px;
              color: #4f4f4f;
              transition: background-color 0.3s ease-in-out;
              padding: 15px 45.15px;

              &:hover {
                color: #000;
                border-color: #000;
              }
            }

            a {
              width: 100%;
              margin: 0 !important;

              .next {
                width: 100%;
                margin: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
